<section class="features" id="features">
  <div class="container">
    <h2 class="features__title title">Наші особливості</h2>
    <ul class="features__list list">
      <li class="features__item">
        <div class="features__box">
          <img
            src="/src/images/center_room.jpg"
            alt="table with armrests"
            class="features__img"
          />
          <p class="features__discr">Комфорт</p>
        </div>
      </li>
      <li class="features__item">
        <div class="features__box">
          <img
            src="/src/images/podoplace2.jpg"
            alt="a couch with a lamp"
            class="features__img"
          />
          <p class="features__discr">Відпочинок</p>
        </div>
      </li>
      <li class="features__item">
        <div class="features__box">
          <img
            src="/src/images/tools.jpg"
            alt="tools with powder"
            class="features__img"
          />
          <p class="features__discr">Професійність</p>
        </div>
      </li>
      <li class="features__item">
        <div class="features__box">
          <img
            src="/src/images/clrnails.jpg"
            alt="nails in magazine"
            class="features__img"
          />
          <p class="features__discr">Широкий вибір</p>
        </div>
      </li>
    </ul>
  </div>
</section>
