<footer class="footer">
    <div class="container">
        <address class="footer__address">
            Київська обл.,</br>
            м. Фастів, провулок Саєнка, 1
        </address>
        <ul class="footer__list">
            <li class="footer__item"><a href="tel:380677073500" class="footer__link">+380 677 07 35 00</a></li>
            <li class="footer__item"><a href="" class="footer__link"></a></li>
            <li class="footer__item"><a href="" class="footer__link"></a></li>
            <li class="footer__item"><a href="" class="footer__link"></a></li>
        </ul>
        <div class="footer__location"></div>
    </div>
</footer>