<header class="header" id="header">
  <div class="container">
    <a href="#header" class="header__logo">P&B center</a>
    <nav class="header-nav">
      <ul class="header-nav__list">
        <li class="header-nav__item">
          <a href="#appointments" class="header-nav__link"></a>Запис на прийом
        </li>
        <li class="header-nav__item">
          <a href="#services" class="header-nav__link"></a>Послуги
        </li>
        <li class="header-nav__item">
          <a href="#product" class="header-nav__link"></a>Продукція
        </li>
        <li class="header-nav__item">
          <a href="#contacts" class="header-nav__link"></a>Контакти
        </li>
      </ul>
    </nav>
  </div>
</header>
