<header class="header" id="header">
  <div class="container">
    <div class="header-logo">
      <a href="#header" class="header__link link"> P&B center</a>
    </div>
    <nav class="header-nav">
      <ul class="header-nav__list list">
        <li class="header-nav__item">
          <a href="#appointments" class="header-nav__link link"
            >Запис на прийом</a
          >
        </li>
        <li class="header-nav__item">
          <a href="#services" class="header-nav__link link">Послуги</a>
        </li>
        <li class="header-nav__item">
          <a href="#product" class="header-nav__link link">Продукція</a>
        </li>
        <li class="header-nav__item">
          <a href="#contacts" class="header-nav__link link">Контакти</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
