<div class="mobile-menu is-hidden" data-menu>
  <button class="header__menu-open js-close-btn" type="button">
    <svg class="header__menu-icon" width="24" height="24">
      <use
        href="/src/images/sprite-icons.svg#close"
        class="header__menu-use"
      ></use>
    </svg>
  </button>
  <nav class="header-nav--mobile">
    <ul class="header-nav__list--mobile list">
      <li class="header-nav__item--mobile">
        <a href="#appointments" class="header-nav__link--mobile link"
          >Запис на прийом
          <span class="header-nav__discr--closed">В розробці</span></a
        >
      </li>
      <li class="header-nav__item--mobile">
        <a href="#services" class="header-nav__link--mobile link">Послуги</a>
      </li>
      <li class="header-nav__item--mobile">
        <a href="#product" class="header-nav__link--mobile link">Продукція</a>
      </li>
      <li class="header-nav__item--mobile">
        <a href="#contacts" class="header-nav__link--mobile link">Контакти</a>
      </li>
    </ul>
  </nav>
</div>
