<section class="product" id="product">
  <div class="container">
    <img src="/src/images/camillen.png" alt="" class="product__img" />
    <img src="/src/images/caremed-logo.png" alt="" class="product__img" />
    <img src="/src/images/Logo_retina.png" alt="" class="product__img" />
    <img src="/src/images/podopharm.png" alt="" class="product__img" />
    <img src="/src/images/suda-logo.png" alt="" class="product__img" />
    <img src="/src/images/veratin.webp" alt="" class="product__img" />
  </div>
</section>
