<section class="work">
  <div class="container">
    <h2 class="work__title title">Наші спеціалісти</h2>
    <ul class="work__list list">
      <li class="work__item">
        <div class="work__box">
          <img src="/src/images/work1.jpg" alt="" class="work__box__photo" />
          <p class="work__box__name">Куценко Таня</p>
          <p class="work__box__specialty">
            Спеціаліст здоров'я та краси рук / ніг
          </p>
          <ul class="services__list list">
            <li class="services__item">Подологія</li>
            <li class="services__item">Манікюр</li>
            <li class="services__item">Педикюр</li>
          </ul>
        </div>
      </li>
      <li class="work__item">
        <div class="work__box">
          <img src="#" alt="" class="work__box__photo" />
          <p class="work__box__name">Хтось там</p>
          <p class="work__box__specialty"></p>
          <ul class="services__list list">
            <li class="services__item">Манікюр</li>
            <li class="services__item">Педикюр</li>
            <li class="services__item"></li>
          </ul>
        </div>
      </li>
      <li class="work__item">
        <div class="work__box">
          <img src="#" alt="" class="work__box__photo" />
          <p class="work__box__name">Ще хтось там</p>
          <p class="work__box__specialty"></p>
          <ul class="services__list list">
            <li class="services__item">Ломінування вій</li>
            <li class="services__item">Татуаж</li>
            <li class="services__item"></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
