.features {
    margin-top: 24px;
}

.features .container {

}

.features__title {
    text-align: center;
    margin-bottom: 18px;
    text-transform: uppercase;
}

.features__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;

    @media screen and (min-width: 480px) {
        flex-direction: row;
        gap: 12px;

    }
}

.features__item {

}

.features__box {
    position: relative;
    width: 220px;

    @media screen and (min-width: 480px) {
        width: 240px;
    }

    @media screen and (min-width: 768px) {
        width: 290px;
    }

    @media screen and (min-width: 1200px) {
        width: 320px;
    }
}

.features__img {
    border-radius: 6px;
}

.features__discr {
    position: absolute;
    text-transform: lowercase;
    padding: 4px;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    text-align: center;
    border-radius: 6px 6px 0 0;
    background-color: rgba(0, 0, 0, 0.6);

    @media screen and (min-width: 768px) {
        padding: 8px;
    }
}