.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--main-clr);
}


.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px;
}

.header__link {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(-45deg, #e9b84f, #f6ddad,#ebb748, #f6ddad);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: change-color 5s ease-in-out infinite;
}

@keyframes change-color {
    0% {background-position: 0 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0 50%;}
}

.header-nav {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.header-nav__list {
    display: flex;
    gap: 18px;
}

.header-nav__discr--closed {
    font-size: 10px;
    text-transform: uppercase;
    color: #ca1111;
}


// Menu styles

.header__menu-close {
    background-color: var(--main-clr);
    padding: 6px;
    border: 2px solid;
    border-radius: 24px;
    border-image-source: linear-gradient(45deg, #e9b84f, #f6ddad);
    border-image-slice: 1;

    @media screen and (min-width: 768px) {
        display: none;
    }
    
}

.header__menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent-clr);
}

.header__menu-use {
    fill: currentColor;
}

