.hero {
    margin-top: 108px;
    background-image: linear-gradient(to right,
        rgba(0, 0, 0, 0.4),
        rgba(47, 48, 58, 0.4) 40%);
    width: 100%;
    max-width: 320px;

    @media screen and (min-width: 480px) {
        max-width: 480px;
    }
    @media screen and (min-width: 768px) {
        max-width: 768px;
    }
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }
}


.hero__banner {
    width: 180px;
    // max-width: 100%;

    @media screen and (min-width: 480px) {
        width: 320px;
    }

    @media screen and (min-width: 768px) {
        width: 480px;
    }

    @media screen and (min-width: 1200px) {
        width: 768px;
    }
}