.product {

}

.product .container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 24px;
}

.product__img {
    width: 224px;
    height: auto;
    // background-color: #fff;

    @media screen and (min-width: 768px) {
        width: 180px;
        gap: 12px;
    }
}